__pycache__/
.git/
.cache/

.logs/
build*/
*package/*
*.swi
x86_64*/
src/GitVersion

**/.cache
compile_commands.json
Test_Foo
Application

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
*_include.cmake
*_tests.cmake
Testing
lib
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vscode/
.idea/
*.iml
*.ipr
*.iws

config.json
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

CppGeneratorTool/out/artifacts/CppGeneratorTool_jar/* 
